

html {
	--input-hover-border-color: red !important;
	--input-focus-border-color: red !important;
	--wa-main-color: #1ea04c;
	--wa-main-inactive-color: #888;
	--wa-background-color: #323232;

	background: var(--wa-background-color)
}


body .ui-tabmenu .ui-tabmenu-nav .ui-tabmenuitem.ui-state-active {
	background-color: var(--wa-background-color);
	border: 1px solid var(--wa-background-color);
	border-bottom: 1px solid var(--wa-main-color);
}


body .ui-tabmenu .ui-tabmenu-nav .ui-tabmenuitem {

	border: 1px solid var(--wa-background-color);
	border-bottom: 1px solid #191919;
	background-color: var(--wa-background-color);

}

body .ui-tabmenu .ui-tabmenu-nav .ui-tabmenuitem.ui-state-active  .ui-menuitem-text{
	color: var(--wa-main-color);

}

body .ui-tabmenu .ui-tabmenu-nav .ui-tabmenuitem.ui-state-hover  .ui-menuitem-text{
	color: var(--wa-main-inactive-color);
	transition-duration: .5s;
}

body .ui-tabmenu .ui-tabmenu-nav .ui-tabmenuitem  .ui-menuitem-text{
	color: var(--wa-main-inactive-color);;
}



body .ui-tabmenu .ui-tabmenu-nav .ui-tabmenuitem.ui-state-hover {

	transition-property: border-bottom;
	border: 1px solid var(--wa-background-color);
	border-bottom: 1px solid var(--wa-main-inactive-color);
	background-color: var(--wa-background-color);
	transition-duration: .5s;
}


body .ui-tabmenu .ui-tabmenu-nav .ui-tabmenuitem.ui-state-hover a {
	color: var(--wa-main-inactive-color);
	transition-duration: .5s;
}

body .ui-tabmenu .ui-tabmenu-nav .ui-tabmenuitem.ui-state-hover a .ui-icon {
	color: var(--wa-main-inactive-color);
	transition-duration: .5s;

}
body .ui-tabmenu .ui-tabmenu-nav .ui-tabmenuitem.ui-state-active a .ui-icon {
	color: var(--wa-main-color);
	transition-duration: .5s;

}


.ui-outputlabel{
	color: #bbbbbb;
}
.ui-datatable .ui-datatable-header .button-panel {
	text-align: left !important;
}

.ui-datatable .ui-datatable-header .search-panel {
	text-align: right !important;

}
/*.pf,
.pf * {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}
.nest-bf-in-pf .form-group {
    margin-bottom:0px;
}*/

div.ko-class {
	background: #F03030 none !important;  /* red */
	border-color: #bd2828 !important;     /* red */
}

div.ok-class {
	background: #007053 none !important;  /* green */
	border-color: #007053  !important;     /* green */
}

div.unavailable {
	background: #F03030 none !important;  /* red */
	border-color: #bd2828 !important;     /* red */
}

.CodeMirror{
	border-radius: 3px !important;
	border: 1px solid #585858 !important;
	background: #585858	 !important;

}
div.CodeMirror-gutter.CodeMirror-linenumbers {
	background: var(--wa-background-color)	 !important;
}

[id$="basic_content"] {
	margin:0 !important;
	border:0px  !important;
	padding: 0 !important;
}
div.main-panel{
	margin:0 0 0;
	border:0px;
	padding:0px 0 0 0;
}
.logo-img{
	height: 34px;
	position:
			absolute;top: 12px;
}
div.logo-app-name{
	margin:9px 0 0 0;
	border:0px;
	padding:0px 0 0 0;
	color:var(--wa-main-color);
	font-family: "Open Sans","Helvetica Neue",sans-serif;
	font-weight: 400;
}