html {

    background: #323232
}


.ui-outputlabel{
    color: #bbbbbb;
}
.ui-datatable .ui-datatable-header .button-panel {
    text-align: left !important;
}

.ui-datatable .ui-datatable-header .search-panel {
    text-align: right !important;

}
.pf,
.pf * {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}
.nest-bf-in-pf .form-group {
    margin-bottom:0px;
}

div.ko-class {
    background: #F03030 none !important;  /* red */
    border-color: #bd2828 !important;     /* red */
}

div.ok-class {
    background: #007053 none !important;  /* green */
    border-color: #007053  !important;     /* green */
}

div.unavailable {
    background: #F03030 none !important;  /* red */
    border-color: #bd2828 !important;     /* red */
}

.CodeMirror{
    border-radius: 3px !important;
    border: 1px solid #585858 !important;
	background: #585858	 !important;

}
div.CodeMirror-gutter.CodeMirror-linenumbers {
	background: #323232	 !important;
}

[id$="basic_content"] {
	margin:0 !important;
	border:0px  !important;
	padding: 0 !important;
}
div.main-panel{
margin:0 0 0; 
border:0px; 
padding:0px 0 0 0;
}
.logo-img{
	height: 34px;
	position: 
	absolute;top: 12px;
}
div.logo-app-name{
	margin:9px 0 0 0; 
	border:0px; 
	padding:0px 0 0 0;
	color:#1ea04c;
}